[user]
	email = tomer.b.eliyahu@intel.com
	name = Tomer Eliyahu

[core]
	gitProxy = git-proxy
	gitproxy = none for intel.com
	editor = vi
	autocrlf = input
	pager = cat
	excludesfile = /home/tbeliyah/.gitignore

[apply]
	ignorewhitespace = change

[color]
	ui = auto

[diff]
	tool = meld

[credential]
	helper = store

[http]
	sslverify = false

[url "https://github.com/"]
	insteadOf = git@github.com:

[url "https://github.com/"]
	insteadOf = ssh://git@github.com/
[format]
	signoff = true
