{
    "proxies": {
            "default": {
                    "httpProxy": "{{ proxy }}",
                    "httpsProxy": "{{ proxy }}",
                    "noProxy": "{{ no_proxy }}",
                    "ftpProxy": "{{ proxy }}"
            }
    }
}
