[vms]
172.16.16.100 ansible_host=centos8-0 ansible_user=tester ansible_become=true ansible_become_pass=Dbio10
172.16.16.198 ansible_host=centos8-1 ansible_user=tester ansible_become=true ansible_become_pass=Dbio10
172.16.16.166 ansible_host=centos8-2 ansible_user=tester ansible_become=true ansible_become_pass=Dbio10
172.16.16.149 ansible_host=ubuntu20 ansible_user=tester ansible_become=true ansible_become_pass=Dbio10
172.16.16.124 ansible_host=ubuntu18 ansible_user=tester ansible_become=true ansible_become_pass=Dbio10
172.16.16.188 ansible_host=fedora32 ansible_user=tester ansible_become=true ansible_become_pass=Dbio10

[localhost]
127.0.0.1 ansible_connection=local
